option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: ebsite.wsgi:application

container_commands:
  01_migrate:
    command: "source /var/app/venv/*/bin/activate && python manage.py migrate --noinput"
    leader_only: true
  02_permissions:
    command: "touch db.sqlite3 && chmod 666 db.sqlite3"