option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: ebsite.wsgi:application

container_commands:
  01_collectstatic:
    command: "source /var/app/venv/*/bin/activate && python manage.py collectstatic --noinput"
  02_setup_db:
    command: "touch db.sqlite3 && chmod 666 db.sqlite3 && chmod 777 ."